:root {
  --color-primary: #9c44dc;
  --color-secondary: #bc8ae1;
  --color-tertiary: #442c61;
  --color-quaternary: #9c645c;
  --color-quinary: #d0b7b0;
  --color-senary: #543b6c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: var(--color-primary);
  box-sizing: border-box;
  font-size: 1.6rem; /* Define o tamanho base do texto para 16px */
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
